.form__input{
    display: flex;
    align-items: start;
    display: flex;
    align-items: start;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 2px solid black;
}

.form__img{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.form__detail{
    display: flex;
    width: 85%;
    flex-direction: column;
    height: 10rem;
    justify-content: space-around;
}

.form__detail input{
    border-color: initial;
    background-color: transparent;
    height: max-content;
    height: 4rem;
    outline: none;
    font-size: 1.5rem;
    border: none;
}

.form__detail button{
    align-self: flex-end;
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 3rem;
    font-weight: 550;
    background-color: rgb(29, 155, 240);
    color: white;
    transition: .3s all;
}


.form__detail button:hover{
    transform: translateY(-.3rem);
}

.form__detail button:active{
    transform: translateY(0);
}